
<!DOCTYPE html>
<head>
<title>Admin Usermanagement</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/admin/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<link href="/admin/style.css" rel='stylesheet' type='text/css' />
<link href="/admin/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/admin/font.css" type="text/css"/>
<link href="/admin/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" href="/admin/morris.css" type="text/css"/>
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">


<!-- Cropper.js dependencies -->


<style>
    .error-message {
        color: red;
        margin-top: 5px;
    }
</style>

<!-- //font-awesome icons -->
<script src="/js/admin/jquery2.0.3.min.js"></script>
<script src="/js/admin/raphael-min.js"></script>
<script src="/js/admin/morris.js"></script>
<style>
    
   
</style>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="/admin" class="logo">
        ADMIN
    </a>
    <!-- <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div> -->
</div>
<!--logo end-->

</div>
<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="/images/2.png">
                <span class="username">John Doe</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <a class="nav-link" href="/admin/logout">Log-out</a>
        </button>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->

<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/admin">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/admin/users">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/admin/category">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Category </span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="active" href="/admin/products">
                        <i class="fas fa-box"></i>
                        <span>Products</span>
                    </a>
                   
                </li>
                <li class="sub-menu">
                    <a href="/admin/orders">
                        <i class="fas fa-shopping-bag"></i>
                        <span>Orders</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a   href="/admin/Coupon">
                        <i class="fas fa-shopping-bag"></i>
                        <span>Coupon</span>
                    </a>
                   
                </li>
                <li class="sub-menu">
                    <a href="/admin/return">
                        <i class="fas fa-undo"></i>
                        <span>Return Order</span>
                    </a>
                   
                </li>
                
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->   
<section id="main-content">
    <section class="wrapper">
        <h1>Add Products</h1>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <form action="/admin/Products/add" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                  <div class="form-group">
                    <label for="productName"><i class="fas fa-user"></i>Product Name</label>
                    <input type="text" name="name" class="form-control" id="productName" placeholder="Enter product name">
                    <div id="errorName" class="error-message"></div>
                    <% if (error) { %>
                        <p style="color: red;"><%= error %></p>
                      <% } %>
                  </div>
                  <div class="form-group">
                    <label for="productDescription"><i class="fas fa-file-alt"></i> Description of product</label>
                    <textarea class="form-control" name="description" id="productDescription" rows="3"></textarea>
                    <div id="errorDescription" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="productPrice"><i class="fas fa-dollar-sign"></i> Price of product</label>
                    <input type="number" name="price" class="form-control" id="productPrice" placeholder="Enter product price">
                    <div id="errorPrice" class="error-message"></div>
                  </div>
                 
                  <div class="form-group">
                    <label for="productCategory"><i class="fas fa-tags"></i> Category of product</label>
                    <select name="category" class="form-control" id="productCategory">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.category %>"><%= category.category %></option>
                        <% }); %>
                    </select>
                </div>
                
                  <div class="form-group">
                    <label for="productImage"><i class="fas fa-image"></i> Image of product</label>
                    
                    <input type="file" name="image" class="form-control-file" id="productImage" onchange="previewImage(this)" multiple>
                    <div id="errorImage" class="error-message"></div>
                    <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 25%; display: none;">
                    <!-- <button type="button" onclick="getCroppedImage()">Crop Image</button> -->
                  </div>
                  
                  <div class="form-group">
                    <label for="productStock"><i class="fas fa-cubes"></i> Stock of product</label>
                    <input type="number" name="stock" class="form-control" id="productStock" placeholder="Enter product stock">
                    <div id="errorStock" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="productStock"><i class="fas fa-cubes"></i> Offer Price</label>
                    <input type="text" name="offerprice" class="form-control" id="productOfferPrice" placeholder="Enter product offer Price">
                    <div id="errorOfferPrice" class="error-message"></div>
                   
                  </div>
                  <div class="form-group">
                    <label for="discount"><i class="fas fa-cubes"></i> Discount</label>
                    <input type="text" name="discount" class="form-control" id="productDiscount" placeholder="Enter product Discount">
                    <div id="errorDiscount" class="error-message"></div>
                   
                  </div>
                  <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Submit</button>
                </form>
              </div>
            </div>
          </div>
        
        


    </section>
</section>






<!--main content end-->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/admin/bootstrap.js"></script>
<script src="js/admin/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/admin/scripts.js"></script>
<script src="js/admin/jquery.slimscroll.js"></script>
<script src="js/admin/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="/js/admin/jquery.scrollTo.js"></script>
<!--     ///////////////////////-->
<!-- ----------------image preview---------------- -->
<script src="https://unpkg.com/cropperjs"></script>
<script>
    let cropper;

    function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        var fileInput = input.files[0];

        if (fileInput) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';

                // Initialize Cropper after the image is loaded
                cropper = new Cropper(document.getElementById('imagePreview'), {
                    aspectRatio: 1, // Set your desired aspect ratio
                    viewMode: 1,    // Set your desired view mode
                });
            };

            reader.readAsDataURL(fileInput);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
            if (cropper) {
                cropper.destroy(); // Destroy Cropper instance if no image selected
            }
        }
    }

    function getCroppedImage() {
        // Get the cropped image data
        const croppedDataUrl = cropper.getCroppedCanvas().toDataURL();

        // Set the cropped image as the source of your preview element
        document.getElementById('imagePreview').src = croppedDataUrl;

        // You can also use the cropped data (croppedDataUrl) in your form submission
    }
</script>



<!-- -------------------------------------------- -->
  <script>
function validateForm() {
            let isValid = true;

            const name = document.getElementById('productName').value;
            const description = document.getElementById('productDescription').value;
            const price = parseFloat(document.getElementById('productPrice').value);
            const category = document.getElementById('productCategory').value;
            const image = document.getElementById('productImage').value;
            const stock = parseFloat(document.getElementById('productStock').value);
            const offerPrice = parseFloat(document.getElementById('productOfferPrice').value);
        const discount = parseFloat(document.getElementById('productDiscount').value);

            const errorName = document.getElementById('errorName');
            const errorDescription = document.getElementById('errorDescription');
            const errorPrice = document.getElementById('errorPrice');
            const errorImage = document.getElementById('errorImage');
            const errorStock = document.getElementById('errorStock');
            const errorOfferPrice = document.getElementById('errorOfferPrice');
        const errorDiscount = document.getElementById('errorDiscount');

            errorName.innerHTML = '';
            errorDescription.innerHTML = '';
            errorPrice.innerHTML = '';
            errorImage.innerHTML = '';
            errorStock.innerHTML = '';
            errorOfferPrice.innerHTML = '';
        errorDiscount.innerHTML = '';

            if (name.trim() === '') {
                errorName.innerHTML = 'Please enter a product Name.';
                isValid = false;
            }

            if (description.trim() === '') {
                errorDescription.innerHTML = 'Please enter a product description.';
                isValid = false;
            }

            if (price <= 0 || isNaN(price)) {
                errorPrice.innerHTML = 'Price must be a number greater than zero.';
                isValid = false;
            }

            if (category.trim() === '') {
                
            }

            if (!image) {
                errorImage.innerHTML = 'Please select an image.';
                isValid = false;
            }

            if (stock <= 0 || isNaN(stock)) {
                errorStock.innerHTML = 'Stock must be a number greater than zero.';
                isValid = false;
            }

            if (offerPrice <= 0 || isNaN(offerPrice)) {
            errorOfferPrice.innerHTML = 'Offer Price must be a number greater than zero.';
            isValid = false;
        }

        if (discount < 0 || isNaN(discount) || discount >= price) {
            errorDiscount.innerHTML = 'Discount must be a positive number less than the product price.';
            isValid = false;
        }
            return isValid;
        }

  </script>
</body>
</html>
