
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>WatchboX</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Desk Login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->

	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
	<!-- <link rel="stylesheet" href="../css/loginstyle.css"> -->
    
	<!--/Style-CSS -->
	<link rel="stylesheet" href="/loginstyle.css" type="text/css" media="all"   />

	<!--//Style-CSS -->
	<style>
		.error-message {
			color:red;
			text-align: center;
		}
		</style>
</head>

<body>
	<section class="w3l-forms-main-61">
		<div class="form-inner">
			<div class="wrapper">
				<div class="d-grid top-form">
					<div class="logo">
						<a class="brand-logo" href="login.ejs"><span><span class="fa fa-viadeo"
									aria-hidden="true"></span>Forgot Password</span></a>
						<!-- if logo is image enable this   
									<a class="brand-logo" href="#index.html">
										<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
									</a> -->
					</div>
				</div>
				<div class="form-bg-blur">
					<div class="form-61">
						<h4 class="form-head">Please verify Your Email</h4>

						<form action="/emailverify" method="post" onsubmit="return validateForm()">
							<div class="">
								<p class="text-head">Email</p>
								<input type="email" name="email" class="input" />
								<div class="error-message" id="error-email"></div>
								<h3 style="color: red
							;"><%=error%></h3>
							</div>
							
							
							<button type="submit" class="signinbutton btn">Verify</button>
						
							
						</form>
					</div>
				</div>
				<!-- 
				<div class="go-to-home text-center">
					<p>Want to Create account? <a class="btn" href="signup.html"> Signup </a></p>
				</div> -->
			</div>
			
		</div>
	</section>
	<script>
       

        function validateForm() {
           
            const email = document.querySelector('input[name="email"]').value;
            
            
            const errorEmail = document.getElementById('error-email');
           
            

            
            errorEmail.innerHTML = '';
           
            

            

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (email.trim() === '') {
                errorEmail.innerHTML = 'Please Enter Your Email Address.';
                return false;

            } else if (!emailRegex.test(email)) {
                errorEmail.innerHTML = 'Please Enter A Valid Email Address.';
                return false;
            }

          
            return true;
        }
    </script>
</body>

</html>